In [1]:
import pandas as pd

In [12]:
df_bisp = pd.read_csv("../results/equivariance/BispectUnet__rotation_True__nh_8__n_train_-1__psize_60x60__20211202-173734.csv")
df_bisp = df_bisp.drop("Unnamed: 0", axis=1)

In [15]:
df_bisp.groupby("set").mean()

,RMSE_180deg_border,RMSE_180deg_core,RMSE_270deg_border,RMSE_270deg_core,RMSE_90deg_border,RMSE_90deg_core,dice_180deg,dice_270deg,dice_90deg,split
set,,,,,,,,,,
test,0.000254,329.534749,0.000234,329.534748,0.000233,329.534749,0.991542,0.990897,0.990887,4.5
train,0.000235,324.800065,0.000217,324.800065,0.000217,324.800065,0.991259,0.990643,0.990645,4.5
val,0.000238,316.085428,0.000219,316.085428,0.000218,316.085426,0.991407,0.990867,0.990816,4.5

In [16]:
df_masked = pd.read_csv("../results/equivariance/MaskedUnet__rotation_True__nh_0__n_train_-1__psize_60x60__20211212-222429.csv")
df_masked = df_masked.drop("Unnamed: 0", axis=1)

In [17]:
df_masked.groupby("set").mean()

,RMSE_180deg_border,RMSE_180deg_core,RMSE_270deg_border,RMSE_270deg_core,RMSE_90deg_border,RMSE_90deg_core,dice_180deg,dice_270deg,dice_90deg,split
set,,,,,,,,,,
test,82.899055,317.040030,81.002745,316.922816,81.001623,317.057587,0.917271,0.917748,0.917687,4.5
train,78.270033,315.299551,76.443138,315.354778,76.334468,315.405147,0.923131,0.924086,0.923633,4.5
val,79.986850,301.924249,77.384677,301.723397,77.204507,302.072542,0.918233,0.919818,0.919927,4.5