In [2]:
import pandas as pd

In [3]:
df_bisp = pd.read_csv("/home/valentin/python_wkspce/2d_bispectrum_cnn/results/equivariance/n_angles__8/BispectUnet__rotation_True__nh_8__n_train_-1__psize_60x60__20211202-173734.csv")
df_bisp = df_bisp.drop("Unnamed: 0", axis=1)

In [4]:
df_bisp.groupby("set").mean()

       RMSE_background  RMSE_border  RMSE_core      dice  split
set
test          0.026475     0.027155   0.025809  0.973314    4.5
train         0.023942     0.025440   0.022871  0.976673    4.5
val           0.024496     0.025309   0.024151  0.975622    4.5

In [5]:
df_bisp.groupby("set").std()

       RMSE_background  RMSE_border  RMSE_core      dice     split
set
test          0.025880     0.025725   0.025626  0.027627  2.872923
train         0.022439     0.023542   0.021774  0.022069  2.872709
val           0.023666     0.023547   0.023810  0.024827  2.873564

In [6]:
df_masked = pd.read_csv("/home/valentin/python_wkspce/2d_bispectrum_cnn/results/equivariance/n_angles__8/MaskedUnet__rotation_True__nh_0__n_train_-1__psize_60x60__20211212-222429.csv")
df_masked = df_masked.drop("Unnamed: 0", axis=1)

In [7]:
df_masked.groupby("set").mean()

       RMSE_background  RMSE_border  RMSE_core      dice  split
set
test          0.078653     0.073471   0.066331  0.925367    4.5
train         0.073541     0.069583   0.062042  0.931346    4.5
val           0.075795     0.070269   0.063394  0.928106    4.5

In [7]:
df_masked.groupby("set").std()

       RMSE_background  RMSE_border  RMSE_core      dice     split
set
test          0.014316     0.013461   0.017217  0.020476  2.875278
train         0.013964     0.012364   0.017213  0.017969  2.874278
val           0.015944     0.013007   0.019049  0.021897  2.878284