In [1]:
import pandas as pd

In [2]:
df_bisp = pd.read_csv("../results/equivariance/BispectUnet__rotation_True__nh_8__n_train_-1__psize_60x60__20211202-173734.csv")
df_bisp = df_bisp.drop("Unnamed: 0", axis=1)

In [3]:
df_bisp.groupby("set").mean()

       RMSE_background   RMSE_border     RMSE_core      dice  split
set
test      2.530186e-07  2.500372e-07  2.265509e-07  0.987591    4.5
train     2.295766e-07  2.323069e-07  1.997075e-07  0.987227    4.5
val       2.374715e-07  2.342776e-07  2.136587e-07  0.987457    4.5

In [4]:
df_bisp.groupby("set").std()

       RMSE_background   RMSE_border     RMSE_core      dice     split
set
test      8.723824e-08  7.858645e-08  7.730205e-08  0.004396  2.875278
train     7.191158e-08  6.889880e-08  5.792036e-08  0.004684  2.874278
val       8.734637e-08  7.978162e-08  8.213415e-08  0.004503  2.878284

In [5]:
df_masked = pd.read_csv("../results/equivariance/MaskedUnet__rotation_True__nh_0__n_train_-1__psize_60x60__20211212-222429.csv")
df_masked = df_masked.drop("Unnamed: 0", axis=1)

In [6]:
df_masked.groupby("set").mean()

       RMSE_background  RMSE_border  RMSE_core      dice  split
set
test          0.091471     0.084874   0.076614  0.915272    4.5
train         0.085352     0.080125   0.071257  0.921299    4.5
val           0.088669     0.081398   0.073508  0.917203    4.5

In [7]:
df_masked.groupby("set").std()

       RMSE_background  RMSE_border  RMSE_core      dice     split
set
test          0.014316     0.013461   0.017217  0.020476  2.875278
train         0.013964     0.012364   0.017213  0.017969  2.874278
val           0.015944     0.013007   0.019049  0.021897  2.878284